{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Photo</h1>
    <div style="text-align: center">
        <a href="/assets/images/galerie/{{ picture.title }}"><img style="height: 40vh;" src="/assets/images/galerie/{{ picture.title }}" alt="{{ picture.id }}"/><br></a>
        <form action="/galery/delete/{{picture.id}}" class="addPicture" method="GET">
            <input type="hidden" value="{{ picture.title }}" name="title">
            <input type="hidden" value="{{ picture.id }}" name="id">
            <input type="submit" value="Supprimer" name="submit">
        </form>
        <a href="/galeryadmin">Revenir à la galerie</a>
    </div>

{% endblock %}

