{% extends 'layout.html.twig' %}

{% block banner %}bannerArtist{% endblock %}


{% block content %}
    <h1>Artistes</h1>
    <div class="indexart container-fluid">
        <div class="row">
            {% for artist in artists %}
                <div class="artspace col-sm-2"><a href="/artist/{{ artist.id }}"><img class="imgart card-img-top" src="{{ artist.picture }}" alt="Artiste"></a><br/>
                    <a class="name" href="/artist/{{ artist.id }}">{{ artist.name }}</a></div>
                <div class="col-sm-1"><img class="favorite" src="{{ artist.favorite }}"></div>
                <div class="col-sm-1"><img class="local" src="{{ artist.local }}"></div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}