{% extends 'layout.html.twig' %}

{% block title %}Carte{% endblock %}

{% block banner %}banner4{% endblock %}
{% block titre_de_page %}La carte{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for type, drinks in drinksByType %}
                <li class="nav-item">
                    <a class="mx-5 hoverDrink nav-link {{ loop.first ? 'active' }}" id="{{ type }}-tab"
                       data-toggle="tab" href="#{{ type }}"
                       role="tab" aria-controls="{{ type }}"
                       aria-selected="{{ loop.first ? 'selected' }}">{{ drinks[0].type_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        {% set active = "show active" %}
        {% for type, drinks in drinksByType %}
            <div class="tab-pane fade {{ active }}" id="{{ type }}" role="tabpanel" aria-labelledby="{{ type }}-tab">
                <div class="row mobileRow">
                    <div class="col-8">
                        <table class="table text-primary">
                            <tbody>
                            {% for drink in drinks %}
                            <tr class="border-0">
                                <td class="font-weight-bold drinkFonts border-0">
                                    <p> {{ drink.name }} <br/>
                                        <span class="text-lowercase small">  {{ drink.ingredients }} </span>
                                    </p>
                                </td>
                                <td class="text-center drinkFonts border-0">{{ drink.volume }}</td>
                                <td class="text-center drinkFonts border-0">{{ drink.prix |number_format(2, '.', ',') }}
                                    €
                                </td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% set active = "" %}
        {% endfor %}
    </div>
{% endblock %}
