{% extends 'layout.html.twig' %}
{% block banner %} banner1 {% endblock %}
{% block title %}Gallery Admin{% endblock %}
{% block titre_de_page %}Administrateur{% endblock %}
{% block content %}
    {% block admin %}{% endblock %}
    <ul>
        <div class="row card_galery">
            {% for picture in pictures %}
                <div class="col-lg-2 col-xs-12">
                    <img class="card-img-top pb-3  galleryAdmin" src="../assets/images/gallery/{{ picture.imgName }}"
                         alt="images des evenements de la javapop"/>



                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal{{ picture.id }}">
                    Supprimer l'image
                </button>

                <!-- Modal -->
                <div class="modal fade " id="exampleModal{{ picture.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered " role="document">
                        <div class="modal-content modalPicture">
                            <div class="modal-header">
                                <div>
                                    <form action="" class="addPicture mb-5" method="POST">
                                        <input type="hidden" value="{{ picture.imgName }}" name="imgName">
                                        <input type="hidden" value="{{ picture.id }}" name="id">
                                        <input type="submit" value="Supprimer" name="submit">
                                    </form>
                                </div>
                            </div>
                            <div class="modal-body">
                                <img class="" src="../assets/images/gallery/{{ picture.imgName }}"
                                     alt="images des evenements de la javapop"/>
                            </div>
                        </div>
                    </div>
                </div>
                </div>



            {% else %}
                <li class="addPicture">Aucune image à afficher</li>
            {% endfor %}
        </div>
    </ul>
{% endblock %}
